<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Babbage</title>
</head>
<body>
    <h1>Charles Babbage</h1>
    <div class="imagen">
        <img src="/img/babbage.jpg" alt="">
    </div>
    <h3>Breve descripción</h3>
    <p>Matemático e ingeniero mecánico británico que diseñó y construyó parcialmente la primera máquina calculadora mecánica diferencial y una máquina analítica. Conocido por muchos como el padre de la computación digital.</p>
    <a href="/">Atras...</a>
</body>
</html>