<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Clarke</title>
</head>
<body>
    <h1>Joan Clarke</h1>
    <div class="imagen">
        <img src="/img/clarke.jpg" alt="">
    </div>
    <h3>Breve descripción</h3>
    <p>Fue la única mujer que trabajó en el equipo liderado por Turing para descifrar el código Enigma. Joan Clarke, matemática y criptoanalista, tuvo un rol central en la hazaña que implicó descifrar el Código Enigma utilizado por los alemanes, durante la Segunda Guerra Mundial.</p>
    <a href="/">Atras...</a>
</body>
</html>