<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hamilton</title>
</head>
<body>
    <h1>Margaret Hamilton</h1>
    <div class="imagen">
        <img src="/img/hamilton.jpg" alt="">
    </div>
    <h3>Breve descripción</h3>
    <p>Fue una auténtica pionera y visionaria de la programación informática, una mujer que ayudó a crear lo que serían las bases de la ingeniería de software y que, probablemente, evitó el desastre durante el aterrizaje del Apolo 11 haciendo posible que el hombre llegara a la Luna.</p>
    <a href="/">Atras...</a>
</body>
</html>