<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hopper</title>
</head>
<body>
    <h1>Grace Murray Hopper</h1>
    <div class="imagen">
        <img src="/img/hopper.jpg" alt="">
    </div>
    <h3>Breve descripción</h3>
    <p>Ingeniera de computación estadounidense. Inventa en 1952 el primer compilador para ordenador. Inventa el lenguaje COBOL. Fue una científica especializada en Matemáticas y también una militar norteamericana, con grado de almirante, considerada una pionera en el mundo de la informática.</p>
    <a href="/">Atras...</a>
</body>
</html>