<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;border-bottom: 1px solid;">Heroínas y los Héroes</h1>
    <br>
    <h4>Los recursos son: <a href="/babbage">/babbage...</a> , <a href="/berners-lee">/berners-lee...</a> , <a href="/clarke">/clarke...</a> , <a href="/hamilton">/hamilton...</a> , <a href="/hopper">/hopper...</a> , <a href="/lovelace">/lovelace...</a> y <a href="/turing">/turing...</a></h4>
</body>
</html>