<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Lovelace</title>
</head>
<body>
    <h1>Ada Lovelace</h1>
    <div class="imagen">
        <img src="/img/lovelace.jpg" alt="">
    </div>
    <h3>Breve descripción</h3>
    <p>Creó el primer algoritmo informático. En 1845, Ada tradujo al inglés un documento explicativo sobre el excepcional trabajo de Babbage al que fue añadiendo notas explicativas que ampliaron su extensión a casi el doble del original. Este traducción y explicación fue publicada en una revista francesa.</p>
    <a href="/">Atras...</a>
</body>
</html>